<nav>
  <span>Pokemon trainer app</span>
  <ng-container *ngIf="trainer !== ''">
    <ul>
      <li>
        <a routerLink="/catalogue">Catalogue</a>
      </li>
      <li>
        <a routerLink="/trainer">Trainer page</a>
      </li>
      <li>
        <a routerLink="/" (click)="this.logout()">Logout</a>
      </li>
    </ul>
  </ng-container>
</nav>
