<h1>Pokemon Trainer Page</h1>
<h2>Press the pokemons which you wish stop training.</h2>

<div class="gallery-grid" *ngIf="trainerPokemonsIds !== []">
    <figure class="gallery-frame" *ngFor="let id of trainerPokemonsIds;let i=index;">
        
        <img class="gallery-img" src="{{trainerPokemonsPictureURLs[i]}}" alt="" 
        title="" (click)="this.pokemonSelected(trainerPokemonsIds[ i ], trainerPokemonsPictureURLs[i],  trainerPokemonsNames[ i ] )">
        <figcaption >{{trainerPokemonsIds[ i ]}}. {{ trainerPokemonsNames[ i ] }}</figcaption>
        
    </figure>
  </div>


  
<button (click)="handleClickTrainerPage()">Go to Trainer Page</button>