<main>
  <h1>Welcome to the Pokemon trainer app!</h1>
  <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
    <fieldset>
      <label for="traineName">Enter trainer name: </label>
      <input
        type="text"
        ngModel
        #trainerName="ngModel"
        name="trainerName"
        placeholder="What's your name?"
        minlength="3"
        required
      />
    </fieldset>
    <div
      id="nameErrors"
      *ngIf="trainerName.invalid && (trainerName.touched || trainerName.dirty)"
    >
      <div *ngIf="trainerName.errors">
        <p *ngIf="trainerName.errors['required']">
          Please enter a trainer name!
        </p>
        <p *ngIf="trainerName.errors['minlength']">Trainer name too short.</p>
      </div>
    </div>
    <button [disabled]="loginForm.invalid" type="submit">Login</button>
  </form>
</main>
