<h1>Pokemon Catalogue Page</h1>
<h2>Press the pokemons which you wish to train.</h2>


<button  (click)="handleClickTrainerPage()">Go to Trainer Page</button>

<div class="gallery-grid" *ngIf="catalogue !== null">
  <figure class="gallery-frame" *ngFor="let pokemon of catalogue">
    <a *ngIf="!this.pokemonHasBeenSelected(pokemon.id)">
      <img
        class="gallery-img"
        src="{{pokemon.pictureURL}}"
        alt=""
        title=""
        (click)="this.pokemonSelected(pokemon.id)"
      />
      <figcaption>{{pokemon.id}}. {{ pokemon.name }}</figcaption>
    </a>
    <a *ngIf="this.pokemonHasBeenSelected(pokemon.id)">
      <img
        class="gallery-img-selected"
        src="{{pokemon.pictureURL}}"
        alt=""
        title=""
        (click)="this.pokemonDeselected(pokemon.id)"
      />
      <figcaption class="gallery-img-selected">
        {{pokemon.id}}. {{ pokemon.name }}
      </figcaption>
    </a>
  </figure>
</div>