/* First the Grid */
.gallery-grid {
  background-color: rgb(240, 219, 230);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(241, 195, 222);
  color: #0e0101;
}

/* The Images */
.gallery-img {
  max-width: 150px;
  height: auto;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img-selected {
  max-width: 150px;
  height: auto;
  object-fit: cover;
  opacity: 0.5;
  background-color: aquamarine;
  color: gray;
}

.gallery-img:hover {
  opacity: 0.5;
}
